<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users info</title>
</head>
<body>
    <h2>
        <% for( let index = 0; index < result.length; index++ ) { %>
            <h4>User's id is : <%=result[index].id%></h4>
            <h4>User's username is  : <%=result[index].username%></h4>
            <h4>User's email     is : <%=result[index].email%></h4>
            <form method="GET" action="user/<%=result[index].id%>/edit" >
                <button>EDIT this User</button>
            </form>
        <% } %>
    </h2>
</body>
</html>