<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single request</title>
</head>
<body>
    <h1>You are seeing Complaint  </h1>
    <h3>
        Title is <%= complaint.title %> <br>
        Description is <%= complaint.description %> <br>
        Complaint id :<%= complaint.id %> <br>
        Status is : <%= complaint.status %> 
    </h3>
</body>
</html>